{% extends "layout.html" %}
{% block title %}
    Load data
{% endblock title %}

{% block content %}
<div class="row justify-content-center my-5">
    <div class="col-12 col-sm-7 col-md-8">
        <header class="my-3">
            <nav>
                <span>
                    <i class="bx bx-user"></i> {{ request.user.username }}
                </span>
                <a href="{% url 'logout' %}" class="text-decoration-none float-end">
                    <i class="bx bx-log-out white"></i> Salir
                </a>
            </nav>
        </header>
        <div class="card">
            <div class="card-header">
                <h1>Cargar datos</h1>
                <input type="file" id="archivo-csv" />
            </div>
            <div class="card-body">
                {% if count %}
                    Cantidad de datos actuales: <small>{{ count }}</small>
                {% endif %}
                <form method="post" enctype="multipart/form-data">
                    <small class="text-muted">
                        * subir archivo csv
                    </small>
                    <br />
                    {% csrf_token %}
                    <input type="file" name="archivo_csv" required />
                    <button type="submit" class="btn btn-primary btn-lg my-3 float-end">Actualizar</button>
                </form>
                <!-- Loading element -->
                <div id="loading-element" style="display: none;">
                    <i class="bx bx-loader-circle bx-spin"></i> Cargando...
                    <div
                        class="alert alert-warning alert-dismissible fade show"
                        role="alert"
                    >
                        No cierre la pestaña hasta que termine de cargar. Puede tardar algunos minutos.
                    </div>
                    
                    <script>
                        var alertList = document.querySelectorAll(".alert");
                        alertList.forEach(function (alert) {
                            new bootstrap.Alert(alert);
                        });
                    </script>
                </div>
            </div>
        </div>
        <div class="row my-5">
            <div class="col">
                <p>Lista de campos actuales: </p>
                <ul>
                    <li>* codigo</li>
                    <li>* nombre</li>
                    <li>* marca</li>
                    <li>* precioCalculado</li>
                    <li>* codigoSat</li>
                    <li>* nomCodSat</li>
                    <li>* nomUniSat</li>
                    <li>* unidadSat</li>
                    <li>existencia</li>
                    <li>existenciaPiso</li>
                    <li>existenciaProd</li>
                    <li>existenciaTubos</li>
                    <li>existenciaTanques</li>
                    <li>existenciaDistr</li>
                    <li>existenciaMakita</li>
                    <li>existenciaStaRosa</li>
                    <li>existenciaTotal</li>
                    <li>codigosAlternos</li>
                </ul>
                <small>
                    <em>
                        * Campos obligatorios 
                    </em>
                    <br>
                    <em>
                        Los campos no obligatorios se pueden omitir
                    </em>
                </small>
            </div>
        </div>
    </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script>
    document.addEventListener('DOMContentLoaded', function() {
        const form = document.querySelector('form');
        const loadingElement = document.getElementById('loading-element');
    
        form.addEventListener('submit', function() {
            // Show loading element when the form is submitted
            loadingElement.style.display = 'block';
        });
    });
    function getCookie(name) {
        const value = `; ${document.cookie}`;
        const parts = value.split(`; ${name}=`);
        if (parts.length === 2) return parts.pop().split(';').shift();
    }
</script>
<script>
    const url = "{% url 'product:load_api' %}"
    // Función para cargar el archivo CSV
    async function cargarCSV(archivo) {
        // Convertir el archivo a una cadena
        const reader = new FileReader();
        reader.readAsText(archivo);

        // Leer el contenido del archivo
        reader.onload = async function() {
            const contenido = reader.result;

            // Dividir el contenido en líneas
            const lineas = contenido.split("\n");
            const header = lineas.shift();

            // Dividir las líneas en 6 partes iguales
            const partes = [];
            console.log("Tamaño: ")
            console.log(lineas.length)
            numberOfParts = Math.ceil(lineas.length/6)
            console.log(numberOfParts)
            for (let i = 0; i < lineas.length; i += numberOfParts) {
                let slice = lineas.slice(i, i + numberOfParts)
                slice.unshift(header)
                partes.push(slice)
                console.log(partes)
            }

            // Descargar las 4 partes como archivos CSV
            for (let i = 0; i < partes.length; i++) {
                const nombreArchivo = `parte-${i + 1}.csv`;
                const contenidoCSV = partes[i].join("\n");
                const archivoBlob = new Blob([contenidoCSV], { type: 'text/csv' });
                const formData = new FormData();
                formData.append("archivo_csv", archivoBlob, `parte-${i + 1}.csv`);

                response = await axios.post(
                    url, formData, { 
                        headers: {
                            'X-CSRFToken': getCookie('csrftoken'),
                            'Content-Type': 'multipart/form-data',
                            // 'Content-Type': 'data:text/csv;charset=utf-8',
                        }
                    }
                )
            }
        };
    }
    // Seleccionar el input del archivo
    const inputArchivo = document.getElementById("archivo-csv");

    // Agregar un evento al input para cargar el archivo
    inputArchivo.addEventListener("change", function() {
        const archivo = inputArchivo.files[0];
        cargarCSV(archivo);
    });
</script>
{% endblock content %}